
#cart-header {
    font-family: "Oldenburg", serif;
    color: #672a3f;
    display: flex;
    justify-content: center;
}
.item-in-cart {
    border-style: solid;
    border-radius:10px;
    border-width: 1px;
    border-color: #672a3f;
    margin:2rem;
    display: flex;
    font-family: "Oldenburg", serif;
    font-size: large;
    color:#672a3f;
}

#checkout-button {
    display: flex;
    justify-content: center;
    font-family: "Oldenburg", serif;
}

#total-price {
    font-family: "Oldenburg", serif;
    display: flex;
    justify-content: center;
}

img {
    height:20%;
    width:20%;
}

select {
    width: 15%;
}

